---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'gallery/'
eleventyNavigation:
    key: Gallery
    order: 2
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/gallery.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

   

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1508">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Explore Our Amazing Gallery</h2>
            <p class="cs-text">
                Explore our gallery to get a glimpse of the vibrant atmosphere and delectable dishes that make Waffle House Bar and Grill a beloved spot. From our famous waffles to sizzling grill favorites, every photo captures the essence of our warm and welcoming dining experience.            </p>
            <a href="" class="cs-button-solid">View All</a>
        </div>
        <!--Picture 1-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/gallery1.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/gallery1.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/gallery1.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 2-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/menu3.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/menu3.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/menu3.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 3-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/gallery3.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/gallery3.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/gallery3.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 4-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-four.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-four.png">
                <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-four.png5"
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 5-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset='/assets/images/galleyadobo.jpg'>
                <source media="(min-width: 601px)"
                        srcset='/assets/images/galleyadobo.jpg'>
                <img loading="lazy" decoding="async"
                        src='/assets/images/galleyadobo.jpg'
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 6-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-six.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-six.png">
                <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-six.png0"
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <!--Picture 7-->
        <div class="cs-picture-group">
            <picture class="cs-image">
                <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-seven.png">
                <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-seven.png">
                <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-gallery-seven.png0"
                        height="400" height="400" alt="day care">
            </picture>
            <div class="cs-info">
                <h3 class="cs-h3">Die Paper Craft</h3>
                <p class="cs-item-text">Birthday, Kids, Daycare, Kindergarten</p>
            </div>
        </div>
        <img class="cs-graphic cs-graphic-one"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-team-graphic-four.svg"
                alt="graphic" loading="lazy" decoding="async" height="134" width="197">
        <img class="cs-graphic cs-graphic-two"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-team-graphic-three.svg"
                alt="graphic" loading="lazy" decoding="async" height="191" width="138">
    </div>
</section>
                                
   
                                

   

{% endblock %}