/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero {
    z-index: 1;
    position: relative;
    /* prevents overflow from the lines extending past the screen width */
    overflow: hidden;
    /* changes on tablet */
    padding: 0 1rem;
    padding-bottom: 6.25rem;
    font-family: "Roboto", "Arial", sans-serif;
    /* Centers button */
    text-align: center;
  }
  #hero .cs-picture {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    /* Background Image */
    width: 100%;
  }
  #hero .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes image act like a background-image */
    object-fit: cover;
  }
  #hero .cs-picture:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    /* Black Color Overlay */
    content: "";
    opacity: 0.7;
    display: block;
    background: #000;
    height: 100%;
    width: 100%;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
  }
  #hero .cs-container {
    position: relative;
    margin: auto;
    max-width: 80em;
    width: 100%;
    /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
    /* 144px - 280px - leaving extra space for the navigation */
    /* changes on tablet */
    padding: clamp(9em, 25.95vw, 17.5em) 0;
  }
  #hero .cs-container:before {
    position: absolute;
    top: 0;
    left: 0;
    /* Left Line */
    content: "";
    opacity: 1;
    display: block;
    background: -moz-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0.5) 0%, rgba(250, 251, 252, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    height: 100%;
    width: 1px;
  }
  #hero .cs-flex-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    /* 60px - 220px */
    margin-bottom: clamp(3.75em, 15.5vw, 13.75em);
    /* 464px - 562px */
    max-width: clamp(29em, 60vw, 35.125em);
    width: 80vw;
    box-sizing: border-box;
  }
  #hero .cs-topper {
    margin-bottom: 1rem;
    color: var(--primary);
    text-align: center;
  }
  #hero .cs-title {
    width: 100%;
    color: var(--bodyTextColorWhite);
    text-align: center;
  }
  #hero .cs-text {
    /* 32px - 40px */
    margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    color: var(--bodyTextColorWhite);
    text-align: center;
  }
  #hero .cs-button-solid {
    margin-bottom: 1rem;
    height: initial;
    line-height: clamp(2.875em, 5.5vw, 3.5em);
  }
  #hero .cs-button-transparent {
    z-index: 1;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bodyTextColorWhite);
    margin: 0 0.5rem;
    background-color: transparent;
    /* 46px - 56px */
    height: clamp(2.875em, 5.5vw, 3.5em);
    width: 11.25rem;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: #fff;
  }
  #hero .cs-button-transparent .cs-img {
    display: block;
    margin-right: 0.75rem;
  }
  #hero .cs-button-transparent:before {
    z-index: -1;
    position: absolute;
    /* so it sits on top of the border */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    opacity: 1;
    /* this is what creates the grow affect on hover */
    transform: scaleX(0);
    display: block;
    background: #000;
    transition: transform 0.3s;
    transform-origin: left;
  }
  #hero .cs-button-transparent:hover:before {
    transform: scaleX(1);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero {
    /* 32px - 40px */
    padding: 0 clamp(2em, 5vw, 2.5em);
  }
  #hero .cs-container {
    padding: clamp(7em, 27.95vw, 17.5em) 0 clamp(9em, 30.95vw, 23.5em) 0;
  }
  #hero .cs-container:after {
    position: absolute;
    top: 0;
    right: 0;
    /* Right Line */
    content: "";
    opacity: 1;
    display: block;
    background: -moz-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(250, 251, 252, 0) 0%, rgba(250, 251, 252, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    height: 100%;
    width: 1px;
  }
  #hero .cs-button-solid {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}
/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25em) {
  #hero {
    background: url("/assets/images/landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* creates parallax effect on background image */
    background-attachment: fixed;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero .cs-background:before {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-407 {
      padding: var(--sectionPadding);
      /* 112px - 200px */
      padding-top: clamp(7rem, 15vw, 12.5rem);
      padding-left: 0;
  }
  #hero-407 .cs-container {
      width: 100%;
      /* changes to 100% at tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 36px - 100px */
      gap: clamp(2.25rem, 10vw, 6.25rem);
  }
  #hero-407 .cs-content {
      max-width: 39.375rem;
      padding-left: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
  }
  #hero-407 .cs-title {
      /* 31px - 61px */
      font-size: clamp(1.9375rem, 4.4vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: left;
      max-width: 43.75rem;
      /* 12px - 24px */
      margin: 0 0 clamp(0.75rem, 1.5vw, 1.5rem);
      color: var(--headerColor);
      position: relative;
  }
  #hero-407 .cs-color {
      color: var(--primary);
      display: block;
  }
  #hero-407 .cs-text {
      /* 16px - 25px */
      font-size: clamp(1rem, 2vw, 1.5625rem);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      /* 24px - 40px */
      margin-bottom: clamp(1.5rem, 4.2vw, 3rem);
      color: var(--bodyTextColor);
  }
  #hero-407 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      margin-right: 1.5rem;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
  }
  #hero-407 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
  }
  #hero-407 .cs-button-solid:hover:before {
      width: 100%;
  }
  #hero-407 .cs-button-transparent {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: var(--primary);
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: transparent;
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition:
          background-color 0.3s,
          color 0.3s;
  }
  #hero-407 .cs-button-transparent:hover {
      background-color: var(--primary);
      color: #fff;
  }
  #hero-407 .cs-header {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 1.5vw, 1.25rem);
      line-height: 1.5em;
      /* 40px - 100px */
      margin: clamp(2.5rem, 5vw, 6.25rem) 0 0.75rem 0;
      width: 100%;
      color: var(--bodyTextColor);
      display: block;
  }
  #hero-407 .cs-logo-group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  #hero-407 .cs-logo {
      width: auto;
      /* 18px - 32px */
      height: clamp(1.125rem, 1.5vw, 2rem);
      filter: grayscale(1);
  }
  #hero-407 .cs-stat-group {
      width: 100%;
      border-radius: 0 1.25rem 1.25rem 0;
      aspect-ratio: 0.92696629;
      /* clips the corners around the border radius */
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: nowrap;
      position: relative;
      z-index: 1;
  }
  #hero-407 .cs-stat-box {
      width: 50%;
      /* changes at tablet */
      height: 9.125rem;
      /* 24px - 48px */
      padding: clamp(1.5rem, 3vw, 3rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      color: #121111;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  #hero-407 .cs-stat-box:nth-of-type(1) {
      background-color: rgba(254, 254, 254, 0.80);
  }
  #hero-407 .cs-stat-box:nth-of-type(2) {
      background-color: rgba(235, 91, 0, .90);
  }
  #hero-407 .cs-stat {
      /* 25px - 61px */
      font-size: clamp(1.5625rem, 3.5vw, 3.8125rem);
      line-height: 1.2em;
      text-align: left;
      margin: 0;
      display: block;
  }
  #hero-407 .cs-desc {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 1.6vw, 1.25rem);
      line-height: 1.2em;
      margin: 0.25rem 0 0 0;
      display: block;
  }
  #hero-407 .cs-background {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
  }
  #hero-407 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-407 {
      padding-left: 0;
  }
  #hero-407 .cs-container {
      max-width: 100%;
      flex-direction: row;
      justify-content: flex-start;
  }
  #hero-407 .cs-content {
      width: 45%;
      padding: 0;
      /* sends it to the right */
      order: 2;
  }
  #hero-407 .cs-stat-group {
      width: 45%;
      max-height: 46.0625rem;
      aspect-ratio: 0.92647059;
      flex: none;
  }
  #hero-407 .cs-stat-box {
      /* 126px - 221px */
      height: clamp(7.875rem, 18vw, 13.8125rem);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-407 .cs-title,
  body.dark-mode #hero-407 .cs-text,
  body.dark-mode #hero-407 .cs-header,
  body.dark-mode #hero-407 .cs-button-transparent {
      color: var(--bodyTextColorWhite);
  }
  body.dark-mode #hero-407 .cs-logo {
      filter: grayscale(1) brightness(400%);
  }
}

                              