---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-407">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title"><span class="cs-color">Discover the tastiest waffle
                and steak</span> combo in town!</h2>
            <p class="cs-text">
                It is classic comfort meets culinary delight in a warm, inviting atmosphere, perfect for family breakfasts, casual lunches, and evening gatherings with friends.
            </p>
            <a href="" class="cs-button-solid">Get A Quote</a>
            <a href="" class="cs-button-transparent">Our Services</a>
            <span class="cs-header">Trusted by:</span>
            <div class="cs-logo-group">
                <!--Logo 1-->
                <img class="cs-logo" src='/assets/images/landing-page-waffle.jpg' alt="logo" width="113" height="31" decoding="async">
                <!--Logo 2-->
                <img class="cs-logo" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/logo2.svg" alt="logo" width="113" height="40" decoding="async">
                <!--Logo 3-->
                <img class="cs-logo" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/logo3.svg" alt="logo" width="113" height="30" decoding="async">
                <!--Logo 4-->
                <img class="cs-logo" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/logo4.svg" alt="logo" width="113" height="37" decoding="async">
            </div>
        </div>
        <div class="cs-stat-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset= '/assets/images/landing-page-waffle.jpg'>
                <source media="(min-width: 601px)" srcset='/assets/images/landing-page-waffle.jpg'>
                <img loading="lazy" decoding="async" src='/assets/images/landing-page-waffle.jpg' alt="leaves" width="842" height="737" aria-hidden="true">
            </picture>
            <div class="cs-stat-box">
                <span class="cs-stat">
                    <b> 263</b>
                    <span class="cs-desc">Happy Families</span>
                </span>
            </div>
            <div class="cs-stat-box">
                <span class="cs-stat">
                    <b>5/5</b>
                    <span class="cs-desc">Google Rating</span>
                </span>
            </div>
        </div>
    </div>
</section>


                                




                                
                                
   
{% endblock %}